{% extends "base.html" %}

{% block page_title %}
	About
{% endblock page_title %}

{% block back_link %}
	<a class="custom_link_navbar" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
{% endblock back_link %}


{% block content %}
	<br>
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="text-box">
				<h1><strong>About <span class="blue-text">Blog</span></strong></h1>
				<br>
				<div class="padding_10px">
					<p class="text-left">
						About Blog
						<br><br>
						Blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,....
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
	<br>
{% endblock content %}
