{% extends "base.html" %}

{% block page_title %}
	Delete account
{% endblock page_title %}


{% block back_link %}
	<a class="custom_link_navbar" href="/user_settings"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
{% endblock back_link %}


{% block content %}
	<br>
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="text-box">
				<h1><strong>Delete account</strong></h1>
				<h3>Username: {{user.name}}</h3>
				<h3>Email: {{user.email}}</h3>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="transp-box">
				<br>
				<form class="form-horizontal" method="post" role="form">
				  	<div class="form-group">
				    	<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				    	<div class="col-sm-10">
				      		<input type="password" class="form-control" maxlength="20" id="inputPassword" placeholder="Password" name="password">
				      		{% if error_password %}
				      			<span class="error_message">Incorrect password.</span>
				      		{% endif %}
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				      		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">DELETE ACCOUNT</button>
				    	</div>
				  	</div>

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">DELETE ACCOUNT</h4>
									</div>
									<div class="modal-body">
										<h4>Do you want to delete the following account?</h4>
										<br>
										<h4>Username: {{user.name}}</h4>
										<h4>Email: {{user.email}}</h4>
									</div>
									<div class="modal-footer">
										<input type="hidden" name="state" value="{{state}}">
							      		<button type="submit" class="btn btn-default">DELETE</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Do NOT delete</button>
									</div>
								</div>
							</div>
						</div>
						<!-- End of Modal -->


				</form>
			</div>
		</div>
	</div>
	<br>
{% endblock content %}
